<head>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/page-size.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container" >
        <div id="logo" class="logo">
            <a href="/" class="img_1"><img src="/img/logo_before.png" alt=""></a>
            <a href="/" class="img_2"><img src="/img/logo_after.png" alt=""></a>
            <!-- <script src="/js/logoScroll.js"></script> -->
       </div> 
    
        <div class="menu-bar">
            <div class="menu">
                <a href="" id="menu_1">Trang chủ</a>
                <a href="" id="menu_3">Bảng giá</a>
                <a href="" id="menu_4">Blog của tôi</a>
                <a href="" id="menu_2">Sản phẩm</a>
            </div>
            <div class="login">
                <a href="/login" id="login_btn">Login</a>
            </div>
        </div>
    </div>
</body>