<head>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/page-size.css">
    <%- include('../partials/title.ejs') %>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <div class="banner">
        <img src="/img/banner.png" alt="" class="main-banner">
        <img src="/img/lisa.png" alt="" class="lisa">
    </div>

    <div class="content">
        <div class="tags">

        </div>

        <div class="products">
            
        </div>
    </div>

</body>