<head>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/page-size.css">
    <%- include('../partials/title.ejs') %>
</head>

<body>
    <%- include('../partials/header.ejs') %>
    
    <div class="login-form">
        <div class="form">
            <h1>Đăng nhập</h1>
            <label for="username" class="username">Tên đăng nhập:</label>
            <input type="text" id="username" type="text" placeholder="Tên đăng nhập">
            <label for="password" class="password">Mật khẩu: </label>
            <input type="text" id="password" type="password" placeholder="Mật khẩu">
            <button class="login-btn" type="submit">Login</button>
            <a href="/register" class="signup">Đăng kí</a>

        </div>
        
    </div>
</body>